.wrapper{
    width: 100%;
    padding:25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .title{
        height: 40px;
        width: 100%;
        font-size: 22px;
        line-height: 40px;
    }
}
.wMain{
    display: flex;
    .wrapLeft,.wrapRight{
        background: rgb(255, 255, 255); 
        padding: 24px; 
        margin: 0px 10px;
        border-radius: 10px; 
        flex: 1;
    }
    .wrapLeft{
        flex:2;
    }
}

.infor{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0;
}
.infor>span{
    margin:10px 7px;
    font-size:13px;
    padding:1px 7px;
    box-sizing: border-box;
}
.infor span:nth-child(1){
    color: #1890ff;
    background: #e6f7ff;
    border:solid 1px #91d5ff;
}
.infor span:nth-child(2){
    color: #2f54eb;
    background: #f0f5ff;
    border: solid 1px #adc6ff;
}
.infor span:nth-child(3){
    color: #fa8c16;
    background: #fff7e6;
    border:solid 1px #ffd591;
}
h3{
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
h4{
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
.markdown{
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    pre{
        background:#eee;
        padding:10px;
        box-sizing: border-box;
        margin:15px 0;
        white-space: pre-wrap;
    }
}