.wrapper{
    width: 100%;
    display: flex;
    padding:25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.title{
    line-height: 60px;
}
.wrap{
    width: 100%;
    display: flex;
}
.wrap>div{
    flex:1;
    background:#fff;
    padding:15px;
    box-sizing: border-box;
    border-radius: 10px;
}
.wrapLeft{
    margin-right: 15px;
}
// .wrapRight{
// }