:global{
    #root {
        height: 100%;
        position: relative;
        background: blue;
    }
    .login-form{
        width: 400px;
        // height: 300px;
        padding:20px;
        box-sizing: border-box;
        position: absolute;
        top:50%;
        left:70%;
        margin-left: -200px;
        background:#fff;
    }
    .login-form-forgot{
        float: right;
    }
    .login-form-button{
        width: 100%;
    }
}