.wrapper{
    height: 100%;
    padding:25px;
    box-sizing: border-box;
}
.tit{
    line-height: 60px;
}
.wrap{
    width: 100%;
    padding:15px;
    box-sizing: border-box;
    border-radius: 10px;
    background:#fff;
}
.btn{
    width:160px;
    height:40px;
    background: blue;
    color:#fff;
}

:global(.ant-table-wrapper){
    width: 100%;
    margin: 20px 0;
}