.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url('../../images/logo.png') no-repeat 0 50;
    background-size: 200px 40px;
}
.user{
    height: 100%;
    display: flex;
    color:#fff;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background:white;
}

.ant_layout{
    margin-top:80px;
}
.ant_layout_content{
    height: 100%;
    background: #eee;
}
.message{
    height: 80px;
    width: 250px;
    position: absolute;
    right: 8%;
    background:red;
}
.lang{
    position: absolute;
    width: 150px;
}
.hover{
    height:80px;
    width:200px;
    display: block;
    display: flex;
    line-height: 80px;
}
.hover:hover{
    background:#ccc;
}
.img{
    height: 60px;
    width: 60px;
    background: black;
    margin: 10px;
    border-radius:50%;
}
.titName{
    padding-left: 20px;
    font-size:16px;
    color:black;
}