.wrapper{
    width: 100%;
    height: 700px;
    padding:25px;
    box-sizing: border-box;
    overflow: auto;
}

.title{
    line-height: 60px;
}

.wrap{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    border-radius: 10px;
    background:#fff;
}
 
.tip{
    width:600px;
    height:50px;
    margin:10px 0;
    border:solid 1px #ccc;
    padding:0 5px;
    box-sizing: border-box;
}

.wrap p{
    font-size: 15px;
    line-height: 30px;
    margin-top:15px;
}

.btn{
    width:160px;
    height:40px;
    background: blue;
    color:#fff;
}

:global(.for-editor-content){
    height:200px;
}

:global(.ant-select){
    width:200px;
}