.wrapper{
    width:100%;
    // height:700px;
    // background: #ccc;
    padding:20px;
    box-sizing: border-box;
    // overflow: auto;
}
.wrapTop{
    width: 100%;
    background:#fff;
    margin:20px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.topType{
    width: 100%;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

.topType>select{
    width:150px;
    margin:0 10px;
    height: 30px;
}

.btn{
    width: 120px;
    background:blue;
    color:#fff;
    margin-left:50px;
}

.typeAll{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
.typeAll span{
    margin:5px 10px;
    padding:0 3px;
    box-sizing: border-box;
    font-size: 12px;
}
.typeAll span.check{
    background:blue;
    color:#fff;
    border-radius: 5px;
}

.topIn{
    width: 100%;
    display: flex;
}

.wrap{
    width: 100%;
    background:#fff;
    padding:15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.wrap_item{
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0; 
    box-sizing: border-box;
}

.wrap_item>p{
    color:blue;
}

.item_left{
    height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
}

.item_left>p{
    color:blue;
}

.item_left div{
    margin:10px 0;
}

.item_left div span{
    border:solid 1px #ccc;
    margin:0 10px;
    padding:3px 5px;
    box-sizing: border-box;
    font-size: 12px;
}

body :global(.ant-typography){
    line-height: 60px;
}

body :global(.ant-layout-content){
    padding:0;
}
