.wrapper{
    width:100%;
    height:100%;
    background: #ccc;
    padding:20px;
    box-sizing: border-box;
}
.wrapTop{
    width: 100%;
    background:#fff;
    margin:20px 0;
    padding: 10px 20px;
    box-sizing: border-box;
}

.topType{
    width: 100%;
    line-height: 30px;
    display: flex;
}

.typeAll{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
.typeAll span{
    margin:0 10px;
}

.topIn{
    width: 100%;
    display: flex;
}

body :global(.ant-typography){
    line-height: 60px;
}